/*-----------Contact----------*/
.body-contact {
    background-image: url("/images/Banners/Games.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}