/*-----------Cookie Policy----------*/
#cookie-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    border-color: #383838;
    background-image: linear-gradient(to right, #000000, #2B2828);
}

.body-missing {
    background-image: url("/images/Banners/Missing.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Footer */
.footer-section {
    background-color: #1f1f1f;
    padding: 40px 0;
    text-align: center;
}

.footer-section p {
    margin: 0;
    font-size: 1rem;
    color: #ccc;
}

.social-links {
    margin-top: 20px;
}

.social-icon {
    color: #fff;
    font-size: 1.8rem;
    margin: 0 15px;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #3F3787;
}