*
{
    margin: 0
    padding: 0
}

/*-----------Scrollbar Design----------*/
    body::-webkit-scrollbar {
      width: 10px;
      background-color: rgba(114, 137, 218, 0.1); /* Blurple color */
      border-radius: 8px; /* Rounded edges */
    }

    body::-webkit-scrollbar-thumb { /* The thingy that actually moves */
      background: linear-gradient(180deg, rgba(114, 137, 218, 0.5), rgba(155, 89, 182, 0.5)); /* Gradient from blurple to purple */
      border-radius: 8px; /* Rounded edges */
    }

    body::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(180deg, rgba(84, 105, 212, 0.5), rgba(142, 68, 173, 0.5)); /* Gradientzo */
    }

    body::-webkit-scrollbar-track {
      background-color: rgba(114, 137, 218, 0.1); /* Blurple */
      border-radius: 8px; /* Rounded edges */
    }

/*-----------Navbar----------*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar {
    background-image: linear-gradient(to right, #000000, #2B2828);
    padding: 0 !important;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.navbar-toggler
{
    outline: none;
    box-shadow: none;
}
.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: #444040;
}

.grid {
    display: grid;
    place-items: center;
}

/*-----------Home----------*/
.body-home 
{
    background-image: url("images/Banners/Home.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.introduction {
    
    color: lightgray;
    text-align: center;
    text-shadow: #000000 1px 0 10px;
}

/*-----------About----------*/
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-shadow: #000000 1px 0 10px;
}
.about-header {
    color: lightgray;
    text-align: center;
    text-shadow: #000000 1px 0 10px;
}

.about-card {
    /*background-color: #0003;*/
    background-image: linear-gradient(#0000001f, #00000054);
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    max-width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.about-card-wide {
    max-width: 1200px;
    text-align: center;
}

.about-card h1,
.about-card h3 {
    text-align: center;
    color: #fff;
}

.about-card hr {
    border-color: #fff;
    margin-bottom: 20px;
}

.about-content {
    margin-bottom: 20px;
}

.about-card ul {
    padding-left: 20px;
}

.about-card a {
    color: #fff;
}

.about-card a:hover {
    text-decoration: underline;
}

.body-about  {
    background-image: url("images/Banners/About.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: lightgray;
}

/*-----------News----------*/
.news-text {
    color: lightgray;
    text-align: center;
    text-shadow: #000000 1px 0 10px;
}

.blog-post {
  background-color: #111;
  padding: 30px; /* Increase the padding to make the cards bigger */
  border-radius: 5px;
  color: #fff;
  margin-bottom: 20px;
  width: 100%; /* Adjust the width of the card */
}

.blog-post .thumbnail-container {
  position: relative;
  width: 100%;
  padding-bottom: 50%; /* 4:3 aspect ratio (change as needed) */
  overflow: hidden;
}

.blog-post .thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-post .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-post .post-title {
  margin-top: 10px; /* Add margin between the thumbnail and post title */
  font-size: 20px; /* Increase the font size for the post title */
}

.blog-post .publication-date {
  font-size: 14px; /* Adjust the font size for the publication date */
  margin-bottom: 5px; /* Adjust the bottom margin for spacing between date and description */
}

.blog-post .publication-date::before {
  content: "Published on: ";
  color: lightgray; /* Set the color for "Published on:" text */
}

.blog-post .publication-date {
  color: #ff7f7f; /* Set the color for the date text */
  font-size: 14px; /* Adjust the font size for the date */
}

.blog-post .post-description {
  margin-top: 5px; /* Adjust the top margin for spacing between date and description */
}

.blog-subpage-text {
    max-width: 760px;
    color: lightgray;
    text-align: center;
    text-shadow: #000000 1px 0 10px;
}

/* Adjust the width of the cards for different screen sizes */
@media (min-width: 576px) {
  .row-cols-md-3 .col {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 768px) {
  .row-cols-lg-3 .col {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

/*-----------Games----------*/
.body-games 
{
    background-image: url("images/Banners/Games.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#games-list
{
    padding: 0px 0;
}
.game-img
{
    width: 100%;
    margin-top: 20px;
}
.game-txt {
    color: white;
    text-shadow: #000000 1px 0 10px;
}

/* These are used for "Games" filtering */
.filterDiv
{
    display: none; /* Hidden by default */
}

.show /* The "show" class is added to the filtered elements */ 
{
    display: block;
}

.games-subpage-text {
    max-width: 760px;
    color: lightgray;
    text-align: center;
    text-shadow: #000000 1px 0 10px;
}

/*-----------Contact----------*/
.body-contact {
    background-image: url("images/Banners/Games.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*-----------404----------*/
.missing-page-text {
    max-width: 760px;
    color: lightgray;
    text-align: center;
    text-shadow: #000000 1px 0 10px;
}

/*-----------Changelog----------*/
.accordion-button {
    background-color: #222452 !important;
    color: white !important; /* Text color, you can change it to any color you prefer */
}

.accordion-item {
    background-color: #35386f !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}


/*-----------Cookie Policy----------*/
#cookie-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    border-color: #383838;
    background-image: linear-gradient(to right, #000000, #2B2828);
}

.body-missing {
    background-image: url("images/Banners/Missing.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
