*
{
    margin: 0
    padding: 0
}

#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar {
    background-image: linear-gradient(to right, #000000, #2B2828);
    padding: 0 !important;
}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.navbar-toggler
{
    outline: none;
    box-shadow: none;
}
.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: #444040;
}

.grid {
    display: grid;
    place-items: center;
}

/*-----------Home----------*/
.body-home 
{
    font-family: sans-serif;
    background-image: url("images/Banners/Home.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.introduction {
    
    color: lightgray;
    text-align: center;
    text-shadow: #000000 1px 0 10px;
}

/*-----------About----------*/
.body-about 
{
    font-family: sans-serif;
    background-image: url("images/Banners/About.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.aboutme-text {
    max-width: 760px;
    color: lightgray;
    text-align: center;
    text-shadow: #000000 1px 0 10px;
}

/*-----------News----------*/
.news-text {
    color: lightgray;
    text-align: center;
    text-shadow: #000000 1px 0 10px;
}

.blog-post {
  background-color: #111;
  padding: 30px; /* Increase the padding to make the cards bigger */
  border-radius: 5px;
  color: #fff;
  margin-bottom: 20px;
  width: 100%; /* Adjust the width of the card */
}

.blog-post .thumbnail-container {
  position: relative;
  width: 100%;
  padding-bottom: 50%; /* 4:3 aspect ratio (change as needed) */
  overflow: hidden;
}

.blog-post .thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-post .content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-post .post-title {
  margin-top: 10px; /* Add margin between the thumbnail and post title */
  font-size: 20px; /* Increase the font size for the post title */
}

.blog-post .publication-date {
  font-size: 14px; /* Adjust the font size for the publication date */
  margin-bottom: 5px; /* Adjust the bottom margin for spacing between date and description */
}

.blog-post .publication-date::before {
  content: "Published on: ";
  color: lightgray; /* Set the color for "Published on:" text */
}

.blog-post .publication-date {
  color: #ff7f7f; /* Set the color for the date text */
  font-size: 14px; /* Adjust the font size for the date */
}

.blog-post .post-description {
  margin-top: 5px; /* Adjust the top margin for spacing between date and description */
}

/* Adjust the width of the cards for different screen sizes */
@media (min-width: 576px) {
  .row-cols-md-3 .col {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}

@media (min-width: 768px) {
  .row-cols-lg-3 .col {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
}





/*-----------Games----------*/
.body-games 
{
    font-family: sans-serif;
    background-image: url("images/Banners/Games.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#games-list
{
    padding: 0px 0;
}
.game-img
{
    width: 100%;
    margin-top: 20px;
}
.game-txt {
    color: white;
    text-shadow: #000000 1px 0 10px;
}

/* These are used for "Games" filtering */
.filterDiv
{
    display: none; /* Hidden by default */
}

.show /* The "show" class is added to the filtered elements */ 
{
    display: block;
}

/*-----------Contact----------*/
.body-contact {
    font-family: sans-serif;
    background-image: url("images/Banners/Games.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*-----------Cookie Policy----------*/
#cookie-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.body-missing {
    font-family: sans-serif;
    background-image: url("images/Banners/Missing.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}