*
{
    margin: 0;
    padding: 0;
}

/*-----------Scrollbar Design----------*/
    body::-webkit-scrollbar {
      width: 10px;
      background-color: rgba(114, 137, 218, 0.1); /* Blurple color */
      border-radius: 8px; /* Rounded edges */
    }

    body::-webkit-scrollbar-thumb { /* The thingy that actually moves */
      background: linear-gradient(180deg, rgba(114, 137, 218, 0.5), rgba(155, 89, 182, 0.5)); /* Gradient from blurple to purple */
      border-radius: 8px; /* Rounded edges */
    }

    body::-webkit-scrollbar-thumb:hover {
      background: linear-gradient(180deg, rgba(84, 105, 212, 0.5), rgba(142, 68, 173, 0.5)); /* Gradientzo */
    }

    body::-webkit-scrollbar-track {
      background-color: rgba(114, 137, 218, 0.1); /* Blurple */
      border-radius: 8px; /* Rounded edges */
    }

/*-----------Navbar----------*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar {
    /** background-image: linear-gradient(to right, #000000, #2B2828); **/
    background-image: linear-gradient(#000000d4, #00800000);
    padding: 0 !important;
}
.navbar-brand img
{
    height: 70px;
    padding-left: 20px;
}
.navbar-nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    color: #fff !important;
    font-weight: 600;
    float: right;
    text-align: left;
}
.divider {
    padding: 0 0.5rem; /* Adjust the padding as needed */
    color: #fff; /* Set the color to match the link color */
    line-height: 2.5rem; /* Adjust the line height for vertical centering */
    text-align: right;
}

.navbar-toggler
{
    outline: none;
    box-shadow: none;
}
.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: #444040;
}

.grid {
    display: grid;
    place-items: center;
}

/*-----------Home----------*/
.body-home 
{
    background-image: url("images/Banners/HomeBanner.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.introduction
{
    color: lightgray;
    text-align: center;
    text-shadow: #000000 1px 0 10px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 1%;
}

.intro-logo
{
    width: 30%;
    max-width: 100%;
    filter: drop-shadow(5px 4px 4px #000000);
    padding-bottom: 10%;
}

.content-box
{
    position: absolute;
    top: 12%;
    left: 8%;
    bottom: 8%;
    width: 22%;
    background-color: #121212;
    border-radius: 15px;
    filter: drop-shadow(5px 4px 4px #000000);

    text-align: center;
    color: white;
}

.sheep-section
{
    position: absolute;
    top: 12%;
    right: 8%;
    bottom: 8%;
    width: 26%;
}

.sheep-image
{
    width: 120%;
    max-width: 100%;
    border-radius: 10px;
    top: 50%;
    position: absolute;
}

.text-bubble-image
{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 80%;
}

.text-bubble-image img
{
    width: 100%; /* Make sure the speech bubble image fills the container */
}

.text-inside-bubble
{
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 150%;
    font-family: cursive;
    width: 70%;
    text-align: center;
}

@media (max-width: 768px) {
    .introduction {
        text-align: center;
    }

    .intro-logo
    {
        width: 100%;
    }

    .sheep-section {
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: auto;
        width: 100%;
        margin-top: 20px;
    }

    .sheep-image {
        width: 80%;
        margin: 0 auto;
        display: block;
        top: 90%;
        left: 5%;
    }

    .text-bubble-image {
        position: relative;
        top: auto;
        left: auto;
        transform: none;
        width: 80%;
        margin: 20px auto;
    }

    .text-inside-bubble {
        font-size: 16px;
        line-height: 1.5;
    }

    .content-box {
        display: none;
        padding: 20px;
        margin-top: 20px;
    }

    .mx-auto {
        max-width: 100% !important;
    }
}


/*-----------About----------*/
.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-shadow: #000000 1px 0 10px;
}
.about-header {
    color: lightgray;
    text-align: center;
    text-shadow: #000000 1px 0 10px;
}

.about-card {
    /*background-color: #11111170;*/
    /*background-image: linear-gradient(#0000001f, #00000054);*/
    background-image: linear-gradient(#1f1f1f, #101010);
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    max-width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.about-card-wide {
    max-width: 60%;
    text-align: center;
}

.about-card h1,
.about-card h3 {
    text-align: center;
    color: #fff;
}

.about-card hr {
    border-color: #fff;
    margin-bottom: 20px;
}

.about-content {
    margin-bottom: 20px;
}

.about-card ul {
    padding-left: 20px;
}

.about-card a {
    color: #fff;
}

.about-card a:hover {
    text-decoration: underline;
}

.body-about  {
    background-image: url("images/Banners/About.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: lightgray;
}

.about-logo
{
    border-radius: 15px;
    margin-top: -5px;
    width: 50%;
    height: auto;
}

@media (max-width: 768px) 
{
    .about-card
    {
        max-width: 100%;
    }

    .about-logo
    {
        width: 90%;
    }
}

/*-----------News----------*/
.news-text
{
    color: lightgray;
    text-align: center;
    text-shadow: #000000 1px 0 10px;
}

.blog-post
{
    background-image: linear-gradient(#1f1f1f, #101010);
    padding: 20px; /* Increase the padding to make the cards bigger */
    border-radius: 5px;
    color: #fff;
    width: 100%; /* Adjust the width of the card */
}

.blog-post .thumbnail-container 
{
  position: relative;
  width: 100%;
  padding-bottom: 50%; /* 4:3 aspect ratio (change as needed) */
  overflow: hidden;
}

.blog-post .thumbnail
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blog-subpage-thumbnail {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%;
    object-fit: cover;
    outline-style: solid;
    outline-color: black;
}

.blog-post .content
{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.blog-post .post-title {
  margin-top: 10px;
  font-size: 20px;
}

.blog-post .publication-date {
  font-size: 14px;
  margin-bottom: 5px;
}

.blog-post .publication-date::before {
  content: "Published on: ";
  color: lightgray;
}

.blog-post .publication-date {
  color: #ff7f7f;
  font-size: 14px;
}

.blog-post .post-description {
  margin-top: 5px;
}

.blog-subpage-panel {
    padding-inline: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.blog-subpage-text {
    color: lightgray;
    text-align: left;
    text-shadow: #000000 1px 0 10px;
    font-size: 17px;
    font-family: monospace;
}

.blog-subpage-title {
    color: #cecece;
    text-align: left;
    font-family: fantasy;
    padding-top: 20px;
    padding-bottom: 20px;
}

.blog-subpage-tag-and-date {
    color: indianred;
    text-align: left;
}

.blog-subpage-header {
    font-family: fantasy;
    padding-top: 40px;
}

.blog-subpage-spacer
{
    padding-top:30px;
}

.blog-subpage-black-bar {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 70%;
    max-width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    padding-right: 3%;
    padding-left: 3%;
    padding-bottom: 3%;
}

.blog-subpage-black-bar-content {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90%;
    max-width: 90%;
    text-align: left;
    color: white;
    padding-right: 2%;
    padding-left: 2%;
    filter: drop-shadow(0px 2px 2px #000000);
    padding-inline: 5%;
}

.blog-subpage-black-bar-gobackbtn {
    background-color: #212529 !important;
    border-color: #212529 !important;
}

.blog-subpage-content-box {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 70%;
    max-width: 100%;
    /* background-color: #212121; */
    background-image: linear-gradient(#1f1f1f, #101010);

    text-align: center;

    color: white;
    padding-right: 2%;
    padding-left: 2%;
}

.blog-subpage-content {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 90%;
    max-width: 90%;
    background-color: #181818;
    text-align: center;
    color: white;
    padding-right: 2%;
    padding-left: 2%;
    filter: drop-shadow(0px 2px 2px #000000);
}

@media (max-width: 768px) 
{

  .row-cols-lg-3 .col 
    {
        flex: 0 0 33.3333%;
        max-width: 33.3333%;
    }

    .blog-subpage-content-box {
        width: 100%;
        max-width: 100%;
    }

    .blog-subpage-tag-and-date
    {
        font-size: 100%;
    }

    .blog-subpage-thumbnail
    {
        height: 20%;
    }

}

/*-----------Games----------*/
.body-games 
{
    background-image: url("images/Banners/Games.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#games-list
{
    padding: 0px 0;
}
.game-img {
    width: 100%;
    margin-top: 20px;
    border-radius: 15px;
}
.game-txt {
    color: white;
    text-shadow: #000000 1px 0 10px;
    font-size: 15px;
    text-align: center;
    padding-top: 5px;
    font-family: cursive;
}

.game-description-text-box {
    position: relative;
}

.game-description-img {
    width: 100%;
    /*filter: drop-shadow(5px 4px 4px #000000);*/
}

.game-description-txt {
    position: absolute;
    top: 55%;
    left: 50%;
    width: 95%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;

    font-size: 13px;
    -webkit-text-size-adjust: none;
    font-family: cursive;
}


/* These are used for "Games" filtering */
.filterDiv {
    display: none; /* Hidden by default */
}

.show /* The "show" class is added to the filtered elements */ 
{
    display: block;
}

.games-subpage-text {
    max-width: 760px;
    color: lightgray;
    text-align: center;
    text-shadow: #000000 1px 0 10px;
}

.games-black-bar {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    max-width: 100%;
    background-color: black;
    filter: drop-shadow(5px 4px 4px #000000);
    text-align: center;
    color: white;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 2%;
}

.games-content-box {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 100%;
    max-width: 100%;
    background-image: linear-gradient(#1f1f1f, #101010);
    filter: drop-shadow(5px 4px 4px #000000);
    text-align: center;
    color: white;
    padding-right: 2%;
    padding-left: 2%;
    padding-bottom: 1%;
}

.games-section-header
{
    margin-bottom: 0px;
    margin-top: 2%;
}

.slick-prev {
    position: absolute;
    top: 0;
    left: -2%;
    height: 100%;
    width: 3%;
    z-index: 99;
    background-color: #705373;
    font-size: 150%;
    border-color: #705373;
    border-radius: 6px;
}

.slick-next {
    position: absolute;
    top: 0;
    right: -2.5%;
    height: 100%;
    width: 3%;
    z-index: 99;
    background-color: #705373;
    font-size: 150%;
    border-color: #705373;
    border-radius: 6px;
}

.slick-slide {
    padding-right: 7.5px;
    padding-left: 7.5px;
}

@media (max-width: 768px)
{
    .games-content-box
    {
        width: 100%;
        max-width: 100%;
    }

    .slick-prev,
    .slick-next
    {
        width: 5%;
    }
}

/*-----------Contact----------*/
.body-contact {
    background-image: url("images/Banners/Games.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/*-----------Hall Of Fawas----------*/
.body-fawas {
    background-color: #000;
}

.hall-of-fawas {
    padding: 40px 0;
    text-align: center;
    color: white;
    text-shadow: #000000 1px 0 10px;
}

.hall-of-fawas h1 {
    font-size: 36px;
}

.fawas-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.fawas-item {
    /*background-color: #2d2d2d;*/
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(#0000001f, #00000054);
}

.fawas-item img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.fawas-item p {
    font-size: 18px;
    font-weight: bold;
}

/*-----------404----------*/
.missing-page-text {
    max-width: 760px;
    color: lightgray;
    text-align: center;
    text-shadow: #000000 1px 0 10px;
}

/*-----------Changelog----------*/
.accordion-button {
    background-color: #222452 !important;
    color: white !important; /* Text color, you can change it to any color you prefer */
}

.accordion-item {
    background-color: #35386f !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}


/*-----------Cookie Policy----------*/
#cookie-popup {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    border-color: #383838;
    background-image: linear-gradient(to right, #000000, #2B2828);
}

.body-missing {
    background-image: url("images/Banners/Missing.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


/*-----------Character Reveal Blog----------*/

.char-blog-subpage-panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00000024;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-top: 20px;
}

.char-blog-subpage-header {
    margin-bottom: 20px;
    text-shadow: #000000 1px 0 10px;
}

.char-blog-subpage-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.char-blog-subpage-content-left {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    width: 100%;
}

.char-blog-subpage-text {
    max-width: 60%;
    font-size: 20px;
    color: lightgray;

    text-shadow: #000000 1px 0 10px;
    margin: 20px 0;
}

.char-image {
    max-width: 30%;
    max-height: 100%; /* Set a maximum height for the images */
    height: auto;
    object-fit: contain; /* or "cover" based on your preference */
}

@media (max-width: 768px) {
    .char-blog-subpage-text
    {
        max-width: 100%;
    }

    .char-blog-subpage-content-left,
    .char-blog-subpage-content
    {
        display: block;
    }

    .char-image {
        margin-left: 10%;
        max-width: 80%;
    }
}